@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@700&family=Didact+Gothic&family=Noto+Color+Emoji&family=Oswald:wght@500&family=Oxygen:wght@700&family=Playpen+Sans&family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* head */
ul{
    margin: 0 0 0;
    padding: 0;
    list-style: none;
    display: table;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(100px);
    background: #101010;
}
li{
    display: table-cell;
    position: relative;
    padding: 15px 0;
    
}
a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
a:hover:after {
    width: 100%;
    left: 0;
    background-color: #00fffc;
}
@media screen and (max-height:300px) {
    ul {
        margin-top: 40px;
    }
}
/* body */
body{
    background: #1e242a;
    font: bold 16pt/1.4 'open sans',arial,sans-serif;
}

#main{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#box1{
    width: 530px;
    height: 625px;
    background: url(img/2.png);
    position: absolute;
    bottom: -100%;
    left: 20%;
    animation: anim 2s forwards, anim2 3s forwards 3s;
}

#box1::after{
    content: '';
    position: absolute;
    width: 530px;
    height: 625px;
    background-image: url(img/1.png);
    left: 0;
    z-index: -1;
}

@keyframes anim{
    from{
        bottom: -100%;
    }
    to{
        bottom: 0%;
    }
}

@keyframes anim2{
    from{
        left: 20%;
        width: 230px;
    }
    to{
        width: 0px;
        left: 40%;
    }
}

#box2{
    width: auto;
    height: auto;
    color: #e3e3e3;
    font-size: 8em;
    font-weight: 500;
    line-height: 130px;
    position: absolute;
    top: 150px;
    left: 100px;
    overflow: hidden;
}

#text{
    font-family:'Bebas Neue', sans-serif;
    position: relative;
    left: -100%;
    animation: anim3 2s forwards 3s;
}

@keyframes anim3{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}

#box3{
    overflow: hidden;
}

#container{
    width: 100%;
    position: absolute;
    top: -100%;
    animation: anim4 2s forwards 2.5s;
}

@keyframes anim4{
    from{
        top:  -100%;
    }
    to{
        top:  0%;
    }

}
